﻿@{
    ViewData["Title"] = "Import";
}

<form method="post" enctype="multipart/form-data" action="/api/import">
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1" accept=".csv,.xml">
    </div>
    <input type="submit" value="Upload" />
</form>
